<div class='input'>
  <div class="head">
    <input #inputField type="text" [(ngModel)]="inputText" style="width: 600px;" (keydown.enter)="sendData()"
      placeholder="Type and press Enter">
    <button class="speaker-btn" (click)="speak_aloud()"> <span class="material-icons">volume_up</span> </button>

    <button (click)="toggleRecording()" class="record-btn">
      <span class="material-icons">{{ isRecording ? 'stop' : 'mic' }}</span>
    </button>

    <input type="checkbox" [(ngModel)]="sw_talk_response">Speak always

    <input type="checkbox" [(ngModel)]="sw_send_audio">Send
    <select [(ngModel)]="selectedValue" (change)="onChangeLanguage()">
      <option *ngFor="let option of options" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
    <button class="stop-btn" (click)="stopAudio()"> <span class="material-icons">cancel</span> </button>
    <button class="stop-btn" (click)="showContext=true"> <span class="material-icons">menu_book</span> </button>
  </div>

</div>
<div *ngIf="showRecord"  class="output_record">

  <button class="stop-btn" (click)="copy_to_input()"> <span class="material-icons">content_copy</span></button>
  {{audio_to_text}}
</div>
<div class="scroll-box ">
  <div class="line" *ngFor="let line_chat of chat_history; let i = index">
    <button class="speaker-btn" (click)="speak_aloud_response(i)"> <span
        class="material-icons">volume_up</span></button>
    <span class="line-text">
      <span class="material-icons" style="color: blue">{{line_chat.type=='H'?"face":"smart_toy" }}</span>
      <span [innerHTML]=" line_chat.msg | linebreaks"> </span>
    </span>
  </div>

</div>
<div *ngIf="showContext" class="context">
  <textarea style="width: 98%;height: 90px; font-size: 10px;" (keydown.enter)="send_context($event)" [value]="context"
    placeholder="Type an context..."></textarea>
</div>
<div class="system">{{response_back}}</div>